@use "../../colors" as colors;

.word-meanings-container {
  .word-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .word {
      font-size: 4rem;
      font-weight: 700;
      color: colors.$dark-gray;
    }

    .phonetic {
      font-size: 1.5rem;
      color: colors.$vivid-purple;
    }

    .content-icon-play {
      cursor: pointer;
    }
  }
}
