@use "../../colors" as colors;

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header-content {
    display: flex;
    align-items: center;

    .header-fonts-container {
      position: relative;

      .active-font-btn {
        width: 200px;
        height: 40px;
        border-radius: 12px;
        outline: none;
        border: 1px solid colors.$pure-black;
        cursor: pointer;
      }

      .fonts-list {
        position: absolute;
        z-index: 1;
        background: colors.$pure-white;
        border: 1px solid colors.$light-gray;
        top: 50px;
        list-style-type: none;
        width: 100%;
        border-radius: 12px;

        .fonts-list__item {
          padding: 12px;
          border-radius: 12px;
          cursor: pointer;

          &.mono {
            font-family: "Roboto";
          }

          &.akaya {
            font-family: "Akaya Kanadaka";
          }

          &.indie {
            font-family: "Indie Flower";
          }

          &.playfair {
            font-family: "Playfair Display";
          }

          &.poppins {
            font-family: "Poppins";
          }

          &.selected {
            background-color: colors.$light-gray;
            font-weight: bold;
          }

          &:hover {
            background-color: colors.$light-gray;
          }
        }
      }
    }

    .intersection {
      width: 4px;
      height: 40px;
      background-color: colors.$light-gray;
      margin: 0 24px;
    }
  }
}
