@use "../../colors" as colors;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header__content {
    display: flex;
    align-items: center;

    .header__font-selector {
      position: relative;

      .header__font-button {
        width: 200px;
        height: 40px;
        border-radius: 12px;
        background-color: colors.$pure-white;
        outline: none;
        border: 1px solid colors.$medium-gray;
        cursor: pointer;

        &:hover {
          background-color: colors.$light-gray;
        }
      }

      .header__font-list {
        position: absolute;
        z-index: 1;
        background: colors.$pure-white;
        border: 1px solid colors.$light-gray;
        top: 50px;
        list-style-type: none;
        width: 100%;
        border-radius: 12px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .header__font-item {
          padding: 12px;
          border-radius: 12px;
          cursor: pointer;

          &.mono {
            font-family: "Roboto";
          }

          &.akaya {
            font-family: "Akaya Kanadaka";
          }

          &.indie {
            font-family: "Indie Flower";
          }

          &.playfair {
            font-family: "Playfair Display";
          }

          &.poppins {
            font-family: "Poppins";
          }

          &.selected {
            background-color: colors.$light-gray;
            font-weight: bold;
          }

          &:hover {
            background-color: colors.$light-gray;
          }
        }
      }
    }
  }
}
